<div class=" bg-dark m-0" style="height: 100vh;"  >
         
        <div class="justify-content-center pt-2 w-100">

        <div class="accordion  mt-4 mx-2 rounded" id="btn_clientes">
          <div class="card  border-0 bg_btn_color rounded">
            <div class="card bg-transparent" id="titulo_clientes">
              <a href="/inbox" class="btn  text-center btn_sidebar  btn-block" type="button" ><i class="fas fa-inbox"></i> Caixa de Email</a>
            </div>
           
          </div>
        </div>

        <div class="accordion m-2" id="btn_containers">
          <div class="card  border-0 bg_btn_color rounded">
            <div class="card bg-transparent" id="titulo_containers">
              <a href="/newmessage" class="btn  text-center btn_sidebar  btn-block" type="button" ><i  class="mr-auto fas fa-box-open " ></i> Nova Mensagem</a>
              
            </div>
           
          </div>
        </div>

        

          </div>
        </div>
